{% extends 'layouts/base.html' %}

{% block title %} Tables {% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Tables</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#">Tables</a></li>
                <li class="breadcrumb-item active" aria-current="page">Tables</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">Customer List</h3>
          </div>
          <!-- Light table -->
          <div class="table-responsive">
            {% if messages %}
              {% for message in messages %}
              <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                  <strong>{{message}}</strong>
              </div>                         
              {% endfor %}
            {% endif %}
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th>Edit</th>
                  <th>Delete</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                  <th>Phone No.</th>
                  <th>Address</th>
                </tr>
              </thead>
              <tbody class="list">
                {% for object in object_list %}
                <tr>
                  <td>
                    <a href="{% url 'editcust' object.pk %}">
                        <button type="button" style="border: 0px; background-color: transparent"> 
                            <i class="fa fa-edit"></i>
                        </button>
                    </a>
                  </td>
                  <td><a href="{% url 'delcust' object.pk %}">
                    <button type="button" style="border: 0px; background-color: transparent">
                      <i class="fa fa-trash"></i>
                    </button>
                  </a>
                  </td>
                  <td>{{object.first_name}}</td>
                  <td>{{object.last_name}}</td>
                  <td>{{object.email_address}}</td>
                  <td>{{object.phone_no}}</td>
                  <td>{{object.address|truncatechars:20}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <!-- Card footer -->
          <div class="card-footer py-4">
            <a href="{% url 'addcust' %}">
              <button type="button" class="btn btn-sm btn-primary">
                  Add
              </button>
            </a>
            <div class="pagination justify-content-end mb-0">
              <span class="step-links">
                  {% if page_obj.has_previous %}
                      <a href="?page=1">&laquo; first</a>
                      <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                  {% endif %}
          
                  <span class="current">
                      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                  </span>
          
                  {% if page_obj.has_next %}
                      <a href="?page={{ page_obj.next_page_number }}">next</a>
                      <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                  {% endif %}
              </span>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
